.chat-messages{overflow:scroll;overflow-x:hidden;overflow-y:hidden;height:440px;}
.chat-messages.scroll{box-shadow:inset 0 -2px 2px rgba(0,0,0,0.2);}
.chat-messages:hover{overflow-y:scroll;}
.chat-messages ul{margin:0;padding:0;list-style:none;}
.chat-messages ul li{padding:10px;border-bottom:dotted 1px #eee;margin-left:7px}
.chat-messages ul li .sender{font-size:12px;font-weight:bold;margin-right:7px;}
.chat-messages ul li .text{font-size:12px;color:#4d4d4d;}
.chat-messages ul li .time{color:#999;font-size:8px; float:right;} 
.chat-messages ul li.marker .sender{color:#39a64e;}
.chat-clients ul{overflow:scroll;overflow-x:hidden;overflow-y:hidden;list-style:none;}
.chat-clients ul:hover{overflow-y:scroll;}
.fl{float:left;display:inline-block;}
.chat-roles ul{overflow:scroll;overflow-x:hidden;overflow-y:hidden;list-style:none;}
.chat-roles ul:hover{overflow-y:scroll;}

.text-receive{overflow:scroll;overflow-x:hidden;overflow-y:hidden;max-height:150px;padding:2px;}
.text-receive.scroll{box-shadow:inset 0 -2px 2px rgba(0,0,0,0.2);}
.text-receive:hover{overflow-y:scroll;}

.text-receive ul{margin:0;padding:0;list-style:none;}

body {
  font-family: Quantico;
}
#buildBrainPlumb { margin: 20px;}
#windowBrain { top:25%;left:35%; position:absolute;}
#windowRole1 { top:50%; left:10%; }
#windowRole2 { top:50%; left:25%; }
#windowRole3 { top:50%; left:40%}
#windowRole4 { top:50%; left:55%; }
#windowRole5 { top:50%; left:70%; }
#windowRole6 { top:50%; left:85%}
#windowRole7 { top:75%; left:10%; }
#windowRole8 { top:75%; left:25%; }
#windowRole9 { top:75%; left:40%}
#windowRole10 { top:75%; left:55%; }
#windowRole11{ top:75%; left:70%; }
#windowRole12 { top:75%; left:85%}
.window {  
    border:3px dotted black;  
    position:absolute; 
    color:black;
    text-align:center;
    padding:5px; 
    '-moz-border-radius:0.6em; 
    border-radius:0.6em; 
    z-index:40;
    background-color:white;
            
}
.window:hover {
  box-shadow: 3px 3px 25px #333;
  -o-box-shadow: 3px 3px 25px #333;
  -webkit-box-shadow: 3px 3px 25px #333;
  -moz-box-shadow: 3px 3px 25px #fff;

}
.brain {
    width:100px; 
    height:80px; 
}
.role {
    padding-top:0px;
    width:100px; 
    height:80px;      
}
.higher {
  margin:-20px;
}
.lower {
  margin:7px;
}
._jsPlumb_endpoint { z-index:32; }
._jsPlumb_connection { z-index:32; }
.drag-locked { border:1px solid red; }
.dragActive { border:2px dotted black; margin:-2px; }
.dropHover { border:1px dotted red; }

/*
._jsPlumb_endpoint._jsPlumb_dragging { border:2px solid green; }
._jsPlumb_endpoint_full { border:3px solid #606; }
._jsPlumb_endpoint_connected { border:4px solid black; }
._jsPlumb_endpoint_drop_allowed { border:5px solid #935; }
._jsPlumb_endpoint_drop_forbidden { border:5px solid #539; }
*/

.cmdLink { font-size:0.80em;}
#clear { padding:0.3em; }
#clear:hover { background-color:yellow; }
#list {
  float:right;
    text-align:center;
    display:none;
    font-size:90%;
    width:250px;
    background-color:white;
    padding:5px;
    border:1px solid #456;
}
#list table { width:100%; text-align:left;}
#explanation { text-align:center; }

.textMessage-positive {
    color: #FFF;
    background-color: #222;
    list-style:none;
    padding: 2px 5px 2px 10px;
    font-size:14px;
}
.textMessage-negative {
    color: #000;
    background-color: #DDD;
    list-style:none;
    padding: 2px 5px 2px 10px;
    font-size:14px;
}
.icon-closest {
  margin-top: 3px;
  font-family: Quantico;
}
.icon-closer {
  margin-top: 3px;
  font-family: Quantico;
}
.audio-red {
  color: #FF0000;
  padding-right: 14px;
  margin-top:3px;
}
.graypills .active a {
    background-color: #ded5e1;
    color: #000;
}
.graypills .active a:hover {
    background-color: #000;
}
.dropdown-menu {
  font-family: Quantico;
}
.audio-icon {
  margin-top:3px;
}
.audio-black {
  color: #000;
}
.lockAuth {
  margin-left: -120px;
}
.unlock-black {
  padding-top:5px;
  margin-top:5px;
  color: #FFF;
  font-size: 22px;
}
.little-audio-red {
  color: #FF0000;
  padding-right: 7px;
}
.audio-green{
  color: #62c462;
  margin-top:3px;
}
.audio-icon-green{
  color: #62c462;
}
.audio-icon-red {
  color: #FF0000;
}
.tiny-font {
  font-size: 10px;
}
.red a {
  color:#333;
}
.red .active a,
.red .active a:hover {
    color: #FF0000;
    background-color: #FFF;
}
@media (min-width: 1200px) {
  body {
    padding-top:43px;
  }
  .home-hero {
    margin-top: -33px;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  body {
    padding-top:43px;
  }
  .home-hero { 
    margin-top: -33px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top:0px;
  }
  .home-hero {
    margin-top: -10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  body {
    padding-top:0px;
  }
}
@media (max-width: 480px) {
   body {
    padding-top:0px;
    
  }
  .brand-closest {
    margin-left: -2px;
    margin-right: -2px;
  }
  .icon-closest {
    margin-left: -21px;
    margin-right: -13px;
    margin-top: 3px;
  }
  .icon-closer {
    margin-left: -12px;
    margin-right: -13px;
    margin-top: 3px;
  }
  .audio-icon {
    margin-right: -4px;
    margin-top: 3px;
  }
}
@media (max-width: 979px) {
   .navbar-fixed-top .navbar-inner,
  .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
    margin: 0px;
    z-index: 0;
  }
  .navbar .navbar-inverse .navbar-fixed-top{
    padding: 0px;
    margin: 0px;
    z-index: 0;
  }
  .bottomHeader{
    margin-top: -20px;
  }
  .home-hero {
    padding-top: 20px;
  }
}
@media all and (max-width: 767px)  {
    .half {
        float: left !important;
        width: 50% !important;
        padding: 0px 10px;
    }
    .home-hero {
      margin-top: -10px;
    }
}

.chat-display {
  overflow:scroll;
  overflow-x:hidden;
  overflow-y:hidden;
  height: 300px;
  border: solid 1px #ddd;
}
.chat-display.scroll{box-shadow:inset 0 -2px 2px rgba(0,0,0,0.2);}
.chat-display:hover{overflow-y:scroll;}
.breakword {
  word-wrap: break-word;
}
.truncate {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand {
    font-family: 'Quantico';
}

.timer {
  width: 100%;
  font-family: 'Quantico';
  font-size: 36px;
}

a.plain:link {
    text-decoration: none;
}

a.plain:active {
    text-decoration: none;
}

a.plain:visited {
    text-decoration: none;
}

a.plain:hover {
    text-decoration: none;
}

.status-bar {
    height: 60px;
}

.about-icon {
    float: left;
    margin-right: 12px;
}

.footer {
    margin-top: 30px;
    padding-top: 10px;
    color: #999;
    border-top: solid 1px #ddd;
}

.footer > p {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

h5 {
    width: 100%;
    white-space: nowrap;
    margin-bottom: 4px;
}

.thumbnail {
   min-width: 200px;  
}
/*
.thumbnails li {
    margin-left: 0px !important;
    margin-right: 20px !important;
}
*/
.thumbnail > img {
  height:150px;
}

legend {
    font-family: quantico;
}

.home-hero {
    font-family: quantico;
    font-size: 36;
    color: #000;
    max-width: 720px;
    text-align: center;
}
/*
@media only screen and ( max-width : 1000px ) {
    .home-hero {
        /*padding:5px 2px 1000px 2px;
    }
}

@media only screen and ( max-width : 480px ) {
    .home-hero {
        padding:5px 2px 480px 2px;
    }
}*/
/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
}

/* Quick links on Home */
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.bs-docs-social-buttons li {
    display: inline-block;
    padding: 0px 0px;
    line-height: 1;
    *display: inline;
    *zoom: 1;
}

.well h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
#chat,
#nickname,
#messages {
  width: 950px;
}
#chat {
  position: relative;
  border: 1px solid #ccc;
}
#nickname,
#connecting {
  position: absolute;
  height: 410px;
  z-index: 100;
  left: 0;
  top: 0;
  background: #fff;
  text-align: center;
  width: 950px;
  font: 15px Georgia;
  color: #666;
  display: block;
}
#nickname .wrap,
#connecting .wrap {
  padding-top: 150px;
}
#nickname input {
  border: 1px solid #ccc;
  padding: 10px;
}
#nickname input:focus {
  border-color: #999;
  outline: 0;
}
#nickname #nickname-err {
  color: #8b0000;
  font-size: 12px;
  visibility: hidden;
}
.connected #connecting {
  display: none;
}
.nickname-set #nickname {
  display: none;
}
#messages {
  height: 380px;
  background: #eee;
}
#messages em {
  text-shadow: 0 1px 0 #fff;
  color: #999;
}
#messages p {
  padding: 0;
  margin: 0;
  font: 12px Helvetica, Arial;
  padding: 5px 10px;
}
#messages p b {
  display: inline-block;
  padding-right: 10px;
}
#messages p:nth-child(even) {
  background: #fafafa;
}
#messages #nicknames {
  background: #ccc;
  padding: 2px 4px 4px;
  font: 11px Helvetica;
}
#messages #nicknames span {
  color: #000;
}
#messages #nicknames b {
  display: inline-block;
  color: #fff;
  background: #999;
  padding: 3px 6px;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 0 1px 0 #666;
}
#messages #lines {
  height: 355px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#messages #lines::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#messages #lines::-webkit-scrollbar-button:start:decrement,
#messages #lines ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}
#messages #lines::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}
#messages #lines::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #fff;
  -webkit-border-radius: 3px;
}
#send-message {
  background: #fff;
  position: relative;
}
#send-message input {
  border: none;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  vertical-align: middle;
  width: 580px;
}
#send-message input:focus {
  outline: 0;
}
#send-message button {
  position: absolute;
  top: 5px;
  right: 5px;
}
button {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #43a1f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #377ad0));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  background: linear-gradient(top, #43a1f7 0%, #377ad0 100%);
  border: 1px solid #2e70c4;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  font-family: "lucida grande", sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 10px 5px 10px;
  text-align: center;
  text-shadow: 0 -1px 1px #2d6dc0;
}
button:hover,
button.hover {
  background: darker;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #43a1f7), color-stop(1, #2e70c4));
  background: -webkit-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: -moz-linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  background: linear-gradient(top, #43a1f7 0%, #2e70c4 100%);
  border: 1px solid #2e70c4;
  cursor: pointer;
  text-shadow: 0 -1px 1px #2c6bbb;
}
button:active,
button.active {
  background: #2e70c4;
  border: 1px solid #2e70c4;
  border-bottom: 1px solid #2861aa;
  text-shadow: 0 -1px 1px #2b67b5;
}
button:focus,
button.focus {
  outline: none;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
  box-shadow: 0 1px 0 0 rgba(255,255,255,0.40), 0 0 4px 0 #377ad0;
}
/* jlivetime styles */
.controlpanel a {
  display: inline-block;
  padding: 4px;
  text-decoration: none;
}
.controlpanel a:hover {
  text-decoration: underline;
}

.addtime > span {
  display: inline-block;
  width: 80px;
}
.examples > div {
  margin: 10px;
}

.examples time {
  padding: 4px;
}

.examples .removedatetime {
  font-size: small;
}

.timer-tick[data-time-label] {
  color: #FFF;
  background: #FF0000;
}

time .number {
  font: bold 2em monospace;
}

.localtimeoffsetinfo {
  padding: 30px 0;
  font-size: small;
}
